<h1>List nÂ°<%= @list.id %></h1>

<p>Name: <%= @list.name %></p>

<%# add a bookmark %>

<ol>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong>Movie:</strong><%= bookmark.movie.title %><br>
      <strong>Comment:</strong><%= bookmark.comment %> <%= link_to "ðŸ—‘ï¸", bookmark_path,
      data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this bookmark?"} %>
    </li>
  <% end %>
</ol>

<div>
  <%= link_to "Create a new bookmark", new_list_bookmark_path(@list) %>
</div>

<div>
  <%= link_to "Back to lists", root_path %>
</div>
